/* Universal */

html {
  font-size: 16px;
  line-height: 1.4;
 }

body {
   margin: 0;
  }

nav, header, section, footer {
  width: 100%;
}

.container {
  max-width: 960px;
  margin: auto;
}

h1 {
  font-family: 'Roboto Slab', serif;
  font-size: 2.75rem;
  font-weight: 700;
  color: #84235A;
}

h2 {
  font-size: 1.75rem;
  font-weight: 700;
}

h3 {
  font-size: 1.25rem;
  font-weight: 700;
}

p, span, a, h2, h3, li {
   font-family: 'Raleway', sans-serif;
  }

#title {
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
}

/* Nav */

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
}

.logo-title {
  display: flex;
  align-items: center;
  margin-left: 1.5rem;
}

.logo-title img {
  width: 2.15rem;
}

.bold {
  font-weight: bold;
}

.nav-items {
  display: flex;
  margin-right: 24px;
}

.nav-items li {
  margin-left: 16px;
}

/* Header */

header {
  background-color: #E7E7E7;
}

.header {
  display: flex;
  height: auto;
  align-items: center;
}

.header img {
  max-width: 50%;
  margin: 2rem 2.5rem 2rem 1.5rem;
  border-radius: 10px;
}

.header .container-right {
  max-width: 40%;
  margin-right: 1.5rem;
}

.header .container-right h1 {
  padding-bottom: 2rem;
}

.header .container-right p {
  padding-bottom: 3rem;
}

.button {
  display: flex;
  background-color: #C70070;
  justify-content: center;
  padding: 0.75rem 0;
  color: white;
  font-weight: 700;
  border-radius: 60px;
}

/* Info */

.info {
  display: flex;
  height: auto;
}

.info .container-left {
  display: flex;
  flex-direction: column;
  width: 59.5%;
  margin: 2rem 2.5rem 2rem 1.5rem;
}

.main-image img {
  width: 100%;
  border-radius: 10px;
}

.info .container-left h2 {
  margin: 2rem 0 1.5rem 0;
}

.info .container-left p {

}

.info .container-left .credentials {
  margin-top: 2rem;
}

.info .container-right {
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
  width: 50%;
  height: auto;
  border-left: 1px #E7E7E7 solid;
}

.info .info-box {
  display: flex;
  padding: 1rem 0 1rem 1rem;
  border: 2px blue solid;
}

.info .supporting-image img {
  width: 115px;
  border: 2px blue solid;

  border-radius: 5px;
}

.info .supporting-copy {
  border: 2px blue solid;
}

.info .supporting-copy h3 {
  border: 2px blue solid;
}

.info .supporting-copy p {
  border: 2px blue solid;
}

.info .supporting-copy a {
  border: 2px blue solid;
}

/* Courses */

#courses {
  background-color: #E7E7E7;
}

.courses {
  display: flex;
  height: 700px;
  align-items: center;
  flex-direction: column;
  border: 2px blue solid;
}

.courses .section-title {
  border: 2px blue solid;
}

.courses .course-box {
  display: flex;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  background-color: white;
  border: 2px blue solid;
}

.courses .course-box .box {
  border: 2px blue solid;
}

.courses .course-box .box img {
  width: 115px;
  border: 2px blue solid;
  border-radius: 5px;
}

/* Exhibit */

.exhibit {
  display: flex;
  height: 500px;
  align-items: center;
  flex-direction: column;
  background-color: ;
  border: 2px blue solid;
}

.exhibit .section-title {
  border: 2px blue solid;
}

.exhibit .container-main {
  display: flex;
  height: 450px;
  border: 2px blue solid;
}

.exhibit .container-left {
  width: 550px;
  margin-left: 1.5rem;
  border: 2px blue solid;
}

video {
  width: 515px;
  border-radius: 10px;
  border: 2px blue solid;
}

.exhibit .container-left h3 {
  border: 2px blue solid;
}

.exhibit .container-left p {
  border: 2px blue solid;
}

.exhibit .container-right {
  margin-right: 1.5rem;
  border: 2px blue solid;
}

.exhibit .info-box {
  display: flex;

  border: 2px blue solid;
}

.exhibit .supporting-image img {
  width: 115px;
  border-radius: 5px;
  border: 2px blue solid;
}

.exhibit .supporting-copy {
  display: flex;
  flex-direction: column;
  border: 2px blue solid;
}

.exhibit .supporting-copy h3 {
  border: 2px blue solid;
}

.exhibit .supporting-copy p {
  border: 2px blue solid;
}

/* Footer */

footer {
  border-top: 1px #E7E7E7 solid;
}

.footer {
  display: flex;
  height: 80px;
  align-items: flex-start;
  justify-content: space-between;
  background-color: ;

}

.footer span {
  margin-left: 1.5rem;
}

.footer ul {
  display: flex;
  flex-direction: row;
  margin-right: 1.5rem;
}

.footer ul li {

}
