/* Universal */

html {
  font-size: 16px;
  line-height: 1.4;
 }

body {
   margin: 0;
  }

nav, header, section, footer {
  width: 100%;
}

.container {
  max-width: 960px;
  margin: auto;
}

h1 {
  font-family: 'Roboto Slab', serif;
  font-size: 2.5rem;
  font-weight: 700;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.25rem;
  font-weight: 700;
}

p, span, a, h2, h3, li {
   font-family: 'Raleway', sans-serif;
  }

#title {
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
}

/* Nav */

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  border: 2px blue solid;
}

.logo-title {
  display: flex;
  align-items: center;
  border: 2px blue solid;
}

.logo-title img {
  border: 2px blue solid;
}

.title {
  border: 2px blue solid;
}

.title .bold {
  font-weight: bold;
}

.nav-items {
  display: flex;
  border: 2px blue solid;
}

.nav-item li {
  border: 2px blue solid;
}

/* Header */

header {
  background-color: #E7E7E7;
}

.header {
  display: flex;
  height: 450px;
  align-items: center;
  border: 2px blue solid;
}

.header .container-left {
  width: 550px;
  border: 2px blue solid;
}

.header .container-left img {
  width: 515px;
  border: 2px blue solid;
}

.header .container-right {
  border: 2px blue solid;
}

.header .container-right h1 {
  border: 2px blue solid;
}

.header .container-right p {
  border: 2px blue solid;
}

.button {
  border: 2px blue solid;
}

/* Info */

.info {
  display: flex;
  height: 450px;
  align-items: center;
  background-color: ;
  border: 2px blue solid;
}

.info .container-left {
  height: 400px;
  width: 550px;
  border: 2px blue solid;
}

.main-image img {
  width: 515px;
  border: 2px blue solid;
}

.info .container-left h2 {
  border: 2px blue solid;
}

.info .container-left p {
  border: 2px blue solid;
}

.info .container-right {
  height: 400px;
  border: 2px blue solid;
}

.info .info-box {
  display: flex;
  border: 2px blue solid;
}

.info .supporting-image img {
  width: 115px;
  border: 2px blue solid;
}

.info .supporting-copy {
  border: 2px blue solid;
}

.info .supporting-copy h3 {
  border: 2px blue solid;
}

.info .supporting-copy p {
  border: 2px blue solid;
}

.info .supporting-copy a {
  border: 2px blue solid;
}

/* Courses */

#courses {
  background-color: #E7E7E7;
}

.courses {
  display: flex;
  height: 700px;
  align-items: center;
  flex-direction: column;
  border: 2px blue solid;
}

.courses .section-title {
  border: 2px blue solid;
}

.courses .course-box {
  display: flex;
  background-color: white;
  border: 2px blue solid;
}

.courses .course-box .box {
  border: 2px blue solid;
}

.courses .course-box .box img {
  width: 115px;
  border: 2px blue solid;
}

/* Exhibit */

.exhibit {
  display: flex;
  height: 500px;
  align-items: center;
  flex-direction: column;
  background-color: ;
  border: 2px blue solid;
}

.exhibit .section-title {
  border: 2px blue solid;
}

.exhibit .container-main {
  display: flex;
  height: 450px;
  border: 2px blue solid;
}

.exhibit .container-left {

  width: 550px;
  border: 2px blue solid;
}

video {
  width: 515px;
  border: 2px blue solid;
}

.exhibit .container-left h3 {
  border: 2px blue solid;
}

.exhibit .container-left p {
  border: 2px blue solid;
}

.exhibit .container-right {
  border: 2px blue solid;
}

.exhibit .info-box {
  display: flex;

  border: 2px blue solid;
}

.exhibit .supporting-image img {
  width: 115px;
  border: 2px blue solid;
}

.exhibit .supporting-copy {
  display: flex;
  flex-direction: column;
  border: 2px blue solid;
}

.exhibit .supporting-copy h3 {
  border: 2px blue solid;
}

.exhibit .supporting-copy p {
  border: 2px blue solid;
}

/* Footer */

footer {
  border-top: 1px #E7E7E7 solid;
}

.footer {
  display: flex;
  height: 80px;
  align-items: flex-start;
  justify-content: space-between;
  background-color: ;

}

.footer span {

}

.footer ul {
  display: flex;
  flex-direction: row;
}

.footer ul li {

}
