/* Universal */

html {
  font-size: 16px;
  line-height: 1;
 }

body {
   margin: 0;
  }

nav, header, section, footer {
  width: 100%;
}

.container {
  max-width: 960px;
  margin: auto;
}

h1 {
  font-family: 'Roboto Slab', serif;
  font-size: 2.75rem;
  font-weight: 700;
  color: #84235A;
}

h2 {
  font-size: 1.75rem;
  font-weight: 700;
}

h3 {
  font-size: 1.25rem;
  font-weight: 700;
}

p, span, a, h2, h3, li {
   font-family: 'Raleway', sans-serif;
   line-height: 1.4;
  }

p {
  opacity: 50%;
}

#title {
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
}

/* Nav */

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
}

.logo-title {
  display: flex;
  align-items: center;
  margin-left: 1.5rem;
}

.logo-title img {
  width: 2.15rem;
}

.bold {
  font-weight: bold;
}

.nav-items {
  display: flex;
  margin-right: 24px;
}

.nav-items li {
  margin-left: 16px;
}

/* Header */

header {
  background-color: #E7E7E7;
}

.header {
  display: flex;
  height: auto;
  align-items: center;
}

.header img {
  max-width: 52%;
  margin: 2rem 2.5rem 2rem 1.5rem;
  border-radius: 10px;
}

.header .container-right {
  max-width: 40%;
  margin-right: 1.5rem;
}

.header .container-right h1 {
  margin: 2rem 0;
}

.header .container-right p {
  margin-bottom: 3rem;
  color: black;
}

.button {
  display: flex;
  background-color: #C70070;
  justify-content: center;
  padding: 0.75rem 0;
  margin-bottom: 2rem;
  color: white;
  font-weight: 700;
  border-radius: 60px;
}

/* Info */

.info {
  display: flex;
  height: auto;
}

.info .container-left {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 2rem 1.5rem 2rem 1.5rem;
}

.main-image img {
  width: 100%;
  border-radius: 10px;
}

.info .container-left h2 {
  margin: 2rem 0 1.5rem 0;
}

.credentials {
  margin-top: 2rem;
}

.info .container-right {
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
  width: 50%;
  height: auto;
  border-left: 1px #E7E7E7 solid;
}

.info .info-box {
  display: flex;
  padding: 0 1rem 1rem 1rem;
}

#middle, #bottom {
  padding: 1rem 0 1rem 1rem;
}

.info .supporting-image img {
  width: 125px;
  margin-right: 1rem;
  border-radius: 5px;
}

.info .supporting-copy {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.info .supporting-copy h3 {
  margin-bottom: 0.5rem;
}

.info .supporting-copy p {
  margin-bottom: 0.75rem;
}

.info .supporting-copy a {
  margin-bottom: 0.5rem;
}

/* Courses */

#courses {
  background-color: #E7E7E7;
}

.courses {
  display: flex;
  height: auto;
  align-items: center;
  flex-direction: column;
}

.courses .section-title {
  margin: 2rem 0;
}

.course-box {
  display: flex;
  margin: auto;
  justify-content: center;
  flex-wrap: wrap;
}

.box {
  max-width: 260px;
  height: auto;
  background-color: white;
  margin: 0 0.5rem 1rem 0.5rem;
  border-radius: 5px;
}

.box img {
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.box .supporting-copy {
  margin-left: 1rem;
}

.box h3 {
  margin: 1rem 0.5rem 1rem 0;
}

.box p {
  margin: 0.5rem 0.5rem 0.5rem 0;
}

#subjects {
  margin-bottom: 1rem;
}

#bottom-margin {
  margin-bottom: 2rem;
}

/* Exhibit */

.exhibit {
  display: flex;
  height: auto;
  align-items: center;
  flex-direction: column;
}

.exhibit .section-title {
  margin: 2rem 0;
}

.exhibit .container-main {
  display: flex;
  height: auto;
}

.exhibit .container-left {
  display: flex;
  flex-direction: column;
  max-width: 52.5%;
  margin: 0 1.5rem 2rem 1.5rem;
}

video {
  width: 100%;
  border-radius: 10px;
}

.exhibit .container-left h3 {
  margin: 2rem 0 1.5rem 0;
}

.exhibit .container-right {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: auto;
}

.exhibit .info-box {
  display: flex;
  padding: 0 1rem 1rem 1rem;
}

.exhibit .supporting-image img {
  max-width: 125px;
  margin-right: 1rem;
  border-radius: 5px;
}

.exhibit .supporting-copy {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.exhibit .supporting-copy h3 {
  margin-bottom: 0.5rem;
}

/* Footer */

footer {
  border-top: 1px #E7E7E7 solid;
}

.footer {
  display: flex;
  height: 80px;
  justify-content: space-between;
  padding-top: 1rem;
}

.footer span {
  margin-left: 1.5rem;
}

.footer ul {
  display: flex;
  flex-direction: row;
  margin-right: 1.5rem;
}

.footer li {
  margin-left: 16px;
}
